<a href="https://colab.research.google.com/github/Arifeenhamim/Computer-Visison-and-Pattern/blob/main/List__tuple_and_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List , Tuple & Set

List=[]

Tuple=()

Set={}
```

```

In [ ]:
a=['10','20','30']
b=("ef","cd","ab")
c={'Hello','Hi','Halo'}

print(type(a),a)
print(type(b),b)
print(type(c),c)

print(' ')
'Hello' in a

<class 'list'> ['10', '20', '30']
<class 'tuple'> ('ef', 'cd', 'ab')
<class 'set'> {'Halo', 'Hello', 'Hi'}

False

#Index wise selection

In [ ]:
print("Elements: ",b[0],a[0],b[-1],a[-2],b[-3])

print(" ")

for i in a:
  print(i)

Elements:  ef 10 ab 20 ef

10
20
30

#Append , Insert & Remove

In [ ]:
# append

alist=[]

alist.append('heloo')
alist.append('i am')
alist.append('hamim')
print('elements of alist ',alist)
print('  ')

#insert

a=['10','20','30']

a.insert(0,'a0')

a.insert(4,'a1')

print('New elements of a :',a) #['a0', '10', '20', '30', 'a1']
print('  ')
#Remove

a.remove('10')
a.remove('a0')
print('after remove ',a)
print('  ')

#delete
del a[0]
print('delete from a ',a)

elements of alist  ['heloo', 'i am', 'hamim']

New elements of a : ['a0', '10', '20', '30', 'a1']

after remove  ['20', '30', 'a1']

delete from a  ['30', 'a1']

#List of list

In [ ]:
list_of_list=[
    ['a','b','c','d'],
    ['hello','how','are','you']
]
print(list_of_list)
print(" ")
print(list_of_list [0][2])
print(list_of_list [1][2])

[['a', 'b', 'c', 'd'], ['hello', 'how', 'are', 'you']]

c
are

#Map Zip and Com list

In [4]:
std={'hamim':65.50,'arifeen':90.5}
print(std,type(std))

{'hamim': 65.5, 'arifeen': 90.5} <class 'dict'>

In [13]:
print(std['hamim'])

a=(std['arifeen'])
print(a)

std.get('hamim','default')

65.5
90.5

65.5

In [14]:
a={'hamim':40,'faiza':50,'sajid':80,'tahmid':60}
for info in a:
  print(info)

hamim
faiza
sajid
tahmid

In [17]:
for info in a:
  new=a[info]
  print('i am %s and i have %d tk'% (info,new))

i am hamim and i have 40 tk
i am faiza and i have 50 tk
i am sajid and i have 80 tk
i am tahmid and i have 60 tk

In [23]:
a=['40','5','75','64','81']
b=['x','z','r','t','k']
print(list(zip(a,b)))

print(a[1:])
print(a[:3])
print(a[:-1])

[('40', 'x'), ('5', 'z'), ('75', 'r'), ('64', 't'), ('81', 'k')]
['5', '75', '64', '81']
['40', '5', '75']
['40', '5', '75', '64']

In [28]:
hello=[10,20,60,40]
halo=['a','b','c','d']

print("this is zip operation",list(zip(hello,halo)))

this is zip operation [(10, 'a'), (20, 'b'), (60, 'c'), (40, 'd')]

In [31]:
alist=[1,5,6,4,5,8,]
newlist=[i for i in alist]
print(newlist)

sq=[a**2 for a in alist]
print(sq)

[1, 5, 6, 4, 5, 8]
[1, 25, 36, 16, 25, 64]