<a href="https://colab.research.google.com/github/Arifeenhamim/Computer-Visison-and-Pattern/blob/main/Python_basic_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic operatoion

In [8]:
x=25
print('number is ',x)
print(type(x),x)

print('addition',x+4)   #29
print('sub',x-8)        #17
print('mul',x*2)        #50
print('exp',x ** 2)



x += 1
print('now x value is ',x)  #26

x *= 2
print('now x value is ',x)  #52

x -= 2
print('now x value is ',x)  #50

number is  25
<class 'int'> 25
addition 29
sub 17
mul 50
exp 625
now x value is  26
now x value is  52
now x value is  50

#Boolen problem

In [30]:
#boolen problem

a = True
b = False

print(type(a)) # bool
print(a and b)  # flase means if 1 true and 1 false = false
print(a or b)  #  true means if 1 true or 1 false = false
print(not b)  #true means it is not false
print(b!=a)  # b not a true

<class 'bool'>
False
True
True
True

If consition

In [11]:

#if condition

a=40
b=15

if a==40:
  print("a is 40")
  if b==15:
    print("b is 15")
elif a==15:
  print("the value of a is replace with 15")
else:
  ("there is no value to print")

a is 40
b is 15

Loop

In [20]:

# for loop

for a in range(1,10):
  print('value of a ',a)

print('   ')

for b in range(20,100,10):
  print("value of b ",b)

print('   ')
for c in range(50,0,-5):
  print('value of c ',c)

value of a  1
value of a  2
value of a  3
value of a  4
value of a  5
value of a  6
value of a  7
value of a  8
value of a  9

value of b  20
value of b  30
value of b  40
value of b  50
value of b  60
value of b  70
value of b  80
value of b  90

value of c  50
value of c  45
value of c  40
value of c  35
value of c  30
value of c  25
value of c  20
value of c  15
value of c  10
value of c  5

#*Math*

'f',Also called “formatted string literals,” f-strings are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

code :
val = 'someting value'

print(f"{val} is a for {val}.")

In [29]:
value=("Hamim")
age=("23")
print(f"My name is {value} and i am {age} years old")

My name is Hamim and i am 23 years old

In [28]:
account = 0
for x in range(1, 20):
    print(f"{account} + {x} =  ", end="")  #
    account += x
    print(account)

print(f"Final sum: {account}")

0 + 1 =  1
1 + 2 =  3
3 + 3 =  6
6 + 4 =  10
10 + 5 =  15
15 + 6 =  21
21 + 7 =  28
28 + 8 =  36
36 + 9 =  45
45 + 10 =  55
55 + 11 =  66
66 + 12 =  78
78 + 13 =  91
91 + 14 =  105
105 + 15 =  120
120 + 16 =  136
136 + 17 =  153
153 + 18 =  171
171 + 19 =  190
Final sum: 190

In [23]:
 

a=0
for x in  range(1,5):
  print(f"{a}+{x}=",end='')
  a+=x
  print(a)

0+1=1
1+2=3
3+3=6
6+4=10